<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around start"
     fxLayoutGap="10px">

<md-card *ngIf="dish" fxFlex>
  <md-card-header>
    <md-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src={{dish.image}} alt={{dish.name}}>
  <md-card-content>
    <p>{{dish.description}}
    </p>
  </md-card-content>
</md-card>

<md-card *ngIf="promotion" fxFlex>
  <md-card-header>
    <md-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src={{promotion.image}} alt={{promotion.name}}>
  <md-card-content>
    <p>{{promotion.description}}
    </p>
  </md-card-content>
</md-card>

<md-card *ngIf="featuredLeader" fxFlex>
  <md-card-header>
    <md-card-title><h3>{{featuredLeader.name | uppercase}} {{featuredLeader.abbr}}</h3></md-card-title>
    <!-- <md-card-subtitle>{{featuredLeader.abbr}}</md-card-subtitle> -->
  </md-card-header>
  <img mdCardImage src={{featuredLeader.image}}>
  <md-card-content>
    <h4>{{featuredLeader.designation}}</h4>
    <p>{{featuredLeader.description}}</p>    
  </md-card-content>
</md-card>

</div>